a{color:#23415a;}
body{background:#eeeeee;font-family:sans-serif;font-size:13pt;margin:1em;}
main,footer{max-width:1000px;margin:30px auto;}
p{text-align:justify;}
pre{border-left:1em solid white;border-right:1em solid white;overflow-x:auto;padding:1em 0;}
pre,p code{background:white;border-radius:6px;}
p code, p samp{box-sizing:border-box;display:inline-block;margin-top:-3px;max-width:100%;overflow-x:auto;padding:0 4px;vertical-align:middle;white-space:nowrap;}
.prompt,samp{user-select:none;}
.prompt{margin-right:1ex;}
code::-moz-selection,code::selection,pre::-moz-selection,pre::selection{background:yellow;}
@media(max-width:1010px){
  body{font-size:11pt;}
  ol{padding-left:1.4em;}
}