a{color:#23415a;}
body{background:#eeeeee;font-family:sans-serif;font-size:13pt;margin:1em;}
main,footer{max-width:1000px;margin:30px auto;}
p{text-align:justify;}
pre,p code{background:white;padding:2px 8px;border-radius:6px;overflow-x:auto;}
pre{padding:1em;}
p code{display:inline-block;margin-top:-2px;max-width:100%;vertical-align:middle;white-space:nowrap;}
.prompt,samp{user-select:none;}
.prompt{margin-right:1ex;}
code::-moz-selection,code::selection,pre::-moz-selection,pre::selection{background:yellow;}
@media(max-width:1010px){
  body{font-size:12pt;}
}