a{color:#23415a;}
body{background:#eeeeee;font-family:sans;font-size:14pt;margin:1em;}
main,footer{max-width:1200px;margin:30px auto;}
pre,p code{background:white;padding:2px 6px;border-radius:6px;overflow-x:auto;}
pre{overflow-x:auto;padding:8px;}
.prompt,samp{user-select:none;}
.prompt{margin-right:1ex;}
pre::-moz-selection,pre::selection{background: yellow;}